<% var title = 'Dashboard Administration' %>
<% include head %>

<div class="columns is-centered">
    <div class="column is-half has-text-centered">
        <box class="box" style="height:120%">
            <p class="content is-medium" >Bienvenue président !</p>
            <div>
                <a class="button is-primary is-outlined" href="/admin/product">G&eacuterer les produits</a>
                <!--<a class="button is-primary is-outlined" href="/admin/category">G&eacuterer les cat&eacutegories</a>
                <a class="button is-primary is-outlined" href="/admin/user">G&eacuterer les utilisateurs</a>-->
            </div>
        </box>
    </div>
</div>
<% include foot %>