<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <style>
        html {
            background: aliceblue;
        }
    </style>
</head>
<body style="background: aliceblue;">
<nav class="navbar is-link" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/img/logo.png" alt="logo">
        </a>
        <p class="navbar-item has-text-white">e-PC</p>
    </div>
    <div class="navbar-start">
        <p class="navbar-item"></p>
        <a class="navbar-item has-text-white" href="/"></a>
        <a class="navbar-item has-text-white" href="/"></a>
    </div>
    <div class="navbar-end">
        <a class="navbar-item has-text-white" href="/user/disconnect"><img src="/img/disconnect.png" alt="deconnexion"></a>
    </div>
</nav>