<% var title = 'Profil' %>
<% include head %>

<div class="columns is-centered">
    <div class="column is-half has-text-centered">
        <div class="box" style="height:120%">
            <h1 class="title is-3-desktop">Profil de <%=user.username%></h1>
            <p>Bonjour <%=user.firstname%> <%=user.lastname%>.</p><br>
            <!--<a class="button is-primary is-outlined" href="/user/edit">Modifier le profil</a>
            <a class="button is-primary is-outlined" href="/user/password">Modifier le mot de passe</a>-->
        </div>
    </div>
</div>

<% include foot %>